.order-body-container {
  display: flex;
  flex-direction: column;
}

.order-body-container .order-page-title {
  background-color: rgba(231, 231, 231, 0.781);
  color: rgba(49, 49, 49, 0.747);

  font-size: 2rem;
  font-weight: 600;
  padding: 0.8rem;
}

.order-body-container .order-page-context {
  display: flex;
  flex-direction: row;
}

/* Account opinions */
.order-page-context .account-opinions {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-left: 9rem;
  margin-bottom: 1.5rem;

  border-right: 2px solid rgba(24, 24, 24, 0.863);
}

.account-opinions .account-opinions-username-container {
  font-size: 1.3rem;
  font-weight: 500;

  color: rgba(63, 63, 63, 0.836);

  height: 3rem;
  padding: 1.5rem 1rem;

  display: flex;
  align-items: center;
}

.account-opinions .account-opinions-opinion-container {
  font-size: 0.9rem;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  margin-right: 5px;

  height: 40vh;
}

.account-opinions .account-opinions-opinion-container .account-opinions-opinion {
  border-bottom: 1px solid black;
  padding: 0.9rem 0;
  color: black;
  transition: border-right 1s ease;
}

.account-opinions .account-opinions-opinion-container a {
  text-decoration: none;

}

.account-opinions .account-opinions-opinion-container .account-opinions-opinion:hover {
  border-right: 4px solid green;
  color: black;
  transition: border 0.1s ease;
}

/* Order List */
.order-page-context .order-lists {
  flex: 1;
  margin-left: 1rem;
}

.order-lists .order-lists-title-container {
  padding-top: 1.8rem;
  padding-left: 1.2rem;
  padding-bottom: 0.8rem;
  display: flex;
  align-items: center;
  border-bottom: 3px solid rgba(121, 121, 121, 0.452);

  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 2px;
  color: rgb(87, 87, 87);
}

.order-lists .order-lists-title-container .order-lists-title-order, 
.order-item-container .order-lists-item-order 
{
  width: 20%;
}

.order-item-container .order-lists-item-order a {
  color: rgb(87, 87, 87);
  font-weight: 600;
}

.order-lists .order-lists-title-container .order-lists-title-date, 
.order-lists .order-lists-title-container .order-lists-title-status, 
.order-item-container .order-lists-item-date,
.order-item-container .order-lists-item-status
{
  width: 15%;
}

.order-lists .order-lists-title-container .order-lists-title-total,
.order-item-container .order-lists-item-total
{
  width: 30%;
}

.order-lists .order-lists-title-container .order-lists-title-actions,
.order-item-container .order-lists-item-actions
 {
  width: 20%;
}

.order-lists .order-lists-context-container {
  display: flex;
  flex-direction: column;

  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(87, 87, 87);
}

.order-lists .order-lists-context-container .order-item-container {
  padding: 1.2rem 0;
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid rgba(121, 121, 121, 0.452);
}
