@keyframes opacityChange {
  from {opacity: 0.5;}
  to {opacity: 1;}
}

.add-to-cart-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.add-to-cart-button {
  border: 3px solid hsla(150, 34%, 35%, 0.808);
  background-color: white;
  color: hsla(150, 34%, 35%, 0.808);
  padding: 0.5rem 1.5625rem;
  cursor: pointer;

  transition: padding 0.5s ease, border-radius 0.5s ease;
}

.add-to-cart-button-active {
  border: 3px solid hsla(150, 34%, 35%, 0.808);
  border-radius: 45%;
  background-color: white;
  color: hsla(150, 34%, 35%, 0.808);
  padding: 0.1875rem 0.3125rem;
  cursor: pointer;

  transition: padding 0.5s ease, border-radius 0.5s ease;
}

.add-to-cart-message {
  margin-top: 0.625rem;
  font-weight: 700;
  font-size: 1rem;
  color: rgba(255, 0, 0, 0.692);
}