.body-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* Shopping Cart Items */
.body-container .context-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.cart-item-container {
  border: 2px solid black;
  border-radius: 1rem;
  background-color: white;

  padding: 1.25rem;
  margin-bottom: 10px;
  min-width: 70%;
  max-width: 90%;

  position: relative;
  display: flex;
  flex-direction: row;
}

.cart-item-container .ID-container {
  position: absolute;
  top: 0%;
  right: 1%;

  display: block;
  font-size: 2.8rem;
  color: hsla(0, 0%, 50%, 0.658);
}

.cart-item-container .item-image-container{
  display: inline-block;
  border: 1px solid black;
  min-width: 20%;
  height: 11.25rem;
}

.cart-item-container .item-context-container{
  margin-left: 0.625rem;
  padding: 0.5rem;
}

.cart-item-container .item-context-container .item-context-Name{
  font-size: 1.6rem;
  display: block;
}

.cart-item-container .item-context-container .item-context-Quantity{
  font-size: 1.25rem;
  border: none;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 85%);
  padding: 0.5rem 1.25rem;
  margin: 0.3125rem;
}

.cart-item-container .item-context-container .item-context-add-button{
  font-size: 1.25rem;
  border: none;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 85%);
  padding: 0.3125rem;
  margin: 0.3125rem;
  cursor: pointer;
  min-width: 30px;
  min-height: 30px;
}

.cart-item-container .item-context-container .item-context-substract-button{
  font-size: 20px;
  border: none;
  border-radius: 15px;
  background-color: hsl(0, 0%, 85%);
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  min-width: 30px;
  min-height: 30px;
}

.cart-item-container .item-context-container .item-context-remove-button{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 30px;
  height: 30px;
}

.cart-item-container .item-context-container .rubbish-icon{
  width: 15px;
  height: 15px;
  margin: auto;
  cursor: pointer;
}

/* Payment container */

.body-container  .payment-container {
  margin: 10px;
  width: 35vw;
}

.payment-container .payment-title-container {
  background-color: rgba(139, 139, 163, 0.747);
  font-family: 'Roboto', sans-serif;
  margin: 0;

  border: none;
  border-radius: 10px 10px 0px 0px;
  margin-top: 1px;
}
.payment-container .payment-title-container .payment-title {
  font-size: 30px;
  margin: 0 0 0 10px;
  color: white;
}

.payment-container .payment-total {
  border-top: 1px dashed black;
  padding: 6px 0px;
  margin-top: 10px;
}

.payment-container .payment-total .payment-total-price, .payment-total-amount, .payment-total-type {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.747);
  display: flex;
  justify-content: space-between;
  margin: 5px 8px;
}

.payment-container .payment-context-container {
  border: none;
  border-radius: 0 0 10px 10px;
  background-color: hsla(0, 0%, 100%, 0.795);
  margin-top: 0;

  padding: 10px;
}

.payment-container .payment-context-container .payment-message {
  display: block;
  font-size: 15px;
  margin-left: 5px;
  color: grey;
}

.payment-container .payment-context-container .item-context {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: 15px 15px 5px 5px;
  color: black;
}

.payment-container .pay-button-container {
  display:flex;
  justify-content: center;
}

.payment-container .pay-button-container .pay-button{
  border: 1px solid black;
  background: rgb(255, 251, 35);
  padding: 6px 50px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  font-weight: 500;
}