.popular-items-background {
  display: flex;
  flex-direction: column;
}

.popular-items-background .popular-items-title-container {
  background-image: linear-gradient(to right, green , rgb(96, 219, 137));
  height: 50px;
  display: block;

  margin: 17px 17px 0px 17px;
  display: flex;
  align-items: center;

}

.popular-items-title-container .popular-items-title {
  color: white;
  font-weight: 600;
  font-size: 25px;

  margin-left: 5px;

}

.popular-items-background .popular-items-box-container {
  margin-top: 20px;
  margin-left: 15px;
  border: 3px solid purple;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.popular-items-background .popular-items-box-container a {
  text-decoration: none;
  color: black;
}

.popular-items-box-container .popular-item-container {
  background-color: aliceblue;
  margin: 10px;
  padding: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 400px;
  width: 300px;
}

.popular-items-box-container .popular-item-container:hover {
  box-shadow: 1px 1px 10px 1px hsla(0, 0%, 0%, 0.705);
  margin-top: 5px;
}

.popular-item-container .popular-item-image-container {
  width: 100%;
  height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular-item-container .popular-item-name-container {
  margin-top: 15px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 15px;
  font-weight: 400;

  display: flex;
  justify-content: center;

  height: 90px;
}

.popular-item-container .popular-item-price-container {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}