.lower-nav-bar {
  background-color: hsl(209, 65%, 72%);
  overflow: hidden;
  /*
  display: flex;
  justify-content: space-between;
  align-items: center;
  */

  display: block;
}

.lower-nav-bar ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
}
.lower-nav-bar ul li {
  float: left; 
}
.lower-nav-bar ul li a {
  display: block;
  color: hsl(0, 0%, 50%); 
  text-align: center;
  padding: 1.125rem 1.875rem; 
  text-decoration: none;
  font-weight: 650;
  font-size: 1.5rem;
}
.lower-nav-bar ul li a:hover {
  background-color: hsl(209, 65%, 62%);
  color: hsl(0, 0%, 93%);
}

.icon-image {
  width: 1.5rem;
  height: 1.5rem;
  mix-blend-mode: multiply;
  margin-right: 0.5rem;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

