body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.upper-nav-bar {
    background-image: linear-gradient(to right, hsl(130, 58%, 85%), hsl(130, 58%, 95%));
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

/* Left side header */
.upper-nav-bar-left ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}
.upper-nav-bar-left ul li {
    float: left; 
    transform: skew(-50deg);
}
.upper-nav-bar-left ul li .nav-link {
    display: block;
    color: hsl(0, 0%, 50%); 
    text-align: center;
    padding: 1.125rem 1.875rem;
    text-decoration: none;
    font-weight: 650;
    transition: background-color 0.25s ease;
}
.upper-nav-bar-left ul li .nav-link:hover {
    background-color: hsl(130, 68%, 76%);
}
.upper-nav-bar-left ul li .nav-link span {
  display: inline-block;
  transform: skew(45deg);
}

.upper-nav-bar-left ul li .shop-name {
  display: block;
  background-image: linear-gradient(45deg, hsl(130, 58%, 70%), hsl(130, 25%, 55%) , hsl(130, 25%, 40%));
  color: white; 
  text-align: center;
  padding: 1rem 5.625rem; 
  text-decoration: none; 
  font-size: 1.25rem;
  font-weight: 700;
}

.upper-nav-bar-left ul li .shop-name span {
  display: inline-block;
  transform: skew(50deg);
}

/* Right side header */

.upper-nav-bar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.upper-nav-bar-right .option-space {
   /* height: 27px; */
  width: 1px;
	transform: skew(-0deg);
	background: #777777;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
}

.upper-nav-bar-right .login-option-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper-nav-bar-right .login-option-container .nav-link {
  display: block;
  color: rgb(87, 87, 87); 
  padding: 0.3125rem 0.3125rem; 
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}
.upper-nav-bar-right .welcome-message {
  display: block;
  color: rgb(0, 0, 0); 
  padding: 0.3125rem 0.3125rem; 
  font-size: 1rem;
}

.upper-nav-bar-right .cart-icon-container {
  display: inline-block;
  position: relative;
}

.upper-nav-bar-right .cart-icon-container .cart-item-quantity {
  position: absolute;
  top: -0.5rem;
  right: -0.3125rem;
  border: 1px solid rgb(226, 62, 62);
  border-radius: 50%;
  padding: 0.125rem 0.25rem;
  background-color: rgb(226, 62, 62);

  font-size: 0.75rem;
  color: white;
}

@media(max-width: 992px) { /* width less than 992px, display: none */
  .upper-nav-bar {
    display: block;
  }

  .upper-nav-bar-left ul li .nav-link,
  .upper-nav-bar-right .welcome-message {
    display: none;
  }

  .upper-nav-bar-right {
    justify-content: end;
  }
}