.order-body-container {
  display: flex;
  flex-direction: column;
}

.order-body-container .order-page-title {
  background-color: rgba(231, 231, 231, 0.781);
  color: rgba(49, 49, 49, 0.747);

  font-size: 2rem;
  font-weight: 600;
  padding: 0.8rem;
}

.order-body-container .order-page-context {
  display: flex;
  flex-direction: row;
}

/* Order List */
.order-page-context .order-lists {
  flex: 1;
  margin-left: 1rem;
}

.order-lists .order-lists-title-container {
  padding-top: 1.8rem;
  padding-left: 1.2rem;
  padding-bottom: 0.8rem;
  display: flex;
  align-items: center;
  border-bottom: 3px solid rgba(121, 121, 121, 0.452);

  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 2px;
  color: rgb(87, 87, 87);
}

.order-lists .order-lists-title-container .order-lists-title-order, 
.order-item-container .order-lists-item-order 
{
  width: 20%;
}

.order-item-container .order-lists-item-order a {
  color: rgb(87, 87, 87);
  font-weight: 600;
}

.order-lists .order-lists-title-container .order-lists-title-date, 
.order-lists .order-lists-title-container .order-lists-title-status, 
.order-item-container .order-lists-item-date,
.order-item-container .order-lists-item-status
{
  width: 15%;
}

.order-lists .order-lists-title-container .order-lists-title-total,
.order-item-container .order-lists-item-total
{
  width: 30%;
}

.order-lists .order-lists-title-container .order-lists-title-actions,
.order-item-container .order-lists-item-actions
 {
  width: 20%;
}

.order-lists .order-lists-context-container {
  display: flex;
  flex-direction: column;

  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(87, 87, 87);
}

.order-lists .order-lists-context-container .order-item-container {
  padding: 1.2rem 0;
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid rgba(121, 121, 121, 0.452);
}
