.order-item-body-container {
  display: flex;
  flex-direction: column;
}

.order-item-body-container .order-item-page-title {
  background-color: rgba(231, 231, 231, 0.781);
  color: rgba(49, 49, 49, 0.747);

  font-size: 2rem;
  font-weight: 600;
  padding: 0.8rem;
}

.order-item-body-container .order-item-page-context {
  display: flex;
  flex-direction: row;
}

/* Order Item Context */
.order-item-page-context .order-item-context {
  flex: 1;
  margin-left: 1rem;

  padding: 1.5rem 0;
}

.order-item-page-context .order-item-context .order-title {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(63, 63, 63, 0.836);
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.order-item-page-context .order-item-context .order-item-details-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.order-item-context .order-item-details-container .order-item-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid rgba(102, 102, 102, 0.315);

  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: rgba(27, 27, 27, 0.774);
}

.order-item-context .order-item-details-container .order-item-details {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.603);

  font-weight: 700;
  font-size: 0.8rem;
  color: rgba(27, 27, 27, 0.774);
}



