.create-product-form {

  background-color: hsl(155, 21%, 84%);
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 500px;
  animation-name: opening;
  animation-duration: 2s;
  margin: 100px auto; 
}

h2 {
  text-align: center;
}
.form-group {
  margin-bottom: 20px;
}

.form-group .error-message {
  color: red;
  padding: 0.5rem 0;
  display: block;
}

.submit-group {
  display: flex;
  justify-content: center;
}
label {
  display: block;
  margin-bottom: 8px;
}
input[type="text"],
input[type="password"] {
  width: 85%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
input[type="submit"] {
  width: 60%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;

}
input[type="submit"]:hover {
  background-color: #218838;
}

.image-button {
  background-color: rgb(37, 221, 135);

  padding: 0.5rem 0.7rem;
  margin: 0.5rem 0.7rem;

  font-size: 0.8rem;
  font-weight: 700;

  border: 2px solid rgb(84, 202, 119);
  color: white;
}

.image-button:hover {
  background-color: white;

  border: 2px solid white;
  color: rgb(37, 221, 135);
  cursor: pointer;
}

.form-group .description {
  resize: none;
  height: 10rem;
  width: 90%;

  font-size: 1rem;
  font-weight: 500;
}

.form-group .price {
  font-size: 1rem;
  font-weight: 500;
}