.slideshow-container {
  position: relative;
  width: 900px;
  height: 550px;

  display: flex;
  justify-content: center;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0; /* Hide inactive slides */
  transition: opacity 0.5s ease-in-out;
  object-fit: cover;

  display: flex;
  justify-content: center;
}

.slide.active {
  opacity: 1;/* Show the active slide */
}

.slide-image {
  height: 100%;
}

.go-to-prev-slide-button, .go-to-next-slide-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
}

.go-to-prev-slide-button:hover, .go-to-next-slide-button:hover {
  cursor: pointer;
}

.go-to-prev-slide-button {
  position: absolute;
  left: -50px;
  transform: rotate(180deg);
}

.go-to-next-slide-button {
  position: absolute;
  right: -50px;
}

.slideshow-page-container {
  position: absolute;
  z-index: 99;

  bottom: 5px;
}

.slideshow-page-button {
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid hsla(0, 0%, 50%, 0.712);
  padding: 5px;
  margin: 4px;
  background-color: transparent;
}

.slideshow-page-button.active {
  border: 3px solid white;
  background-color: white;
}